<!doctype html>
<html ng-app="bakkinreader">
<head>
    <title>Bakkin Reader X</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes">
    <link rel="icon" href="favicon.png" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"></script>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="jquery.ba-bbq.js"></script>

    <link href="reader.css" rel="stylesheet"/>

    <script>
    // AngularJS glue
    (function(){
        var app = angular.module("bakkinreader", ["ngCookies"]);
        app.controller('mainCtrl', function($scope, $cookies) {

            // TODO: This is a very strange-looking hack...
            $scope.getNextNextImg = function() {
                if ($scope.next_page.chapter) {
                    var next_page = get_next_page($scope.current_series,
                                                $scope.next_page.volume,
                                                $scope.next_page.chapter,
                                                $scope.next_page.page);
                    if (next_page.page)
                        return next_page.chapter.pages[next_page.page];
                }
                return null;
            };

            // cookie stuffs
            $scope.set_progress = function() {
                if ($scope.current_volume && $scope.current_chapter) {
                    $cookies.put("prog" + $scope.current_series.dir,
                                 location.hash);
                }
            };
            $scope.get_progress = function(seriesdir) {
                return $cookies.get("prog" + seriesdir);
            };
        });
    })();

    // Helpers

    function get_prev_chapter(series, volume, chapter) {
        var vol_i = series.volmap[volume.dir];
        var chap_i = volume.chapmap[chapter.dir];
        var vol = null;
        var chap = null;
        var page = null;

        if (chap_i > 0) {
            vol = volume;
            chap = vol.chapters[chap_i - 1];
            page = chap.pages.length - 1;
        } else if (vol_i > 0) {
            vol = series.volumes[vol_i - 1];
            chap = vol.chapters[vol.chapters.length - 1];
            page = chap.pages.length - 1;
        }
        return {"volume": vol, "chapter": chap, "page": page};
    }

    function get_next_chapter(series, volume, chapter) {
        var vol_i = series.volmap[volume.dir];
        var chap_i = volume.chapmap[chapter.dir];
        var vol = null;
        var chap = null;

        if (chap_i < volume.chapters.length - 1) {
            vol = volume;
            chap = vol.chapters[chap_i + 1];
        } else if (vol_i < series.volumes.length - 1) {
            vol = series.volumes[vol_i + 1];
            chap = vol.chapters[0];
        }
        return {"volume": vol, "chapter": chap, "page": 0};
    }

    function get_prev_page(series, volume, chapter, page) {
        if (page > 0) {
            return {"volume": volume,
                    "chapter": chapter,
                    "page": page - 1};
        } else {
            return get_prev_chapter(series, volume, chapter);
        }
    }

    function get_next_page(series, volume, chapter, page) {
        if (page < chapter.pages.length - 1) {
            return {"volume": volume,
                    "chapter": chapter,
                    "page": page + 1};
        } else {
            return get_next_chapter(series, volume, chapter);
        }
    }

//     function is_cached(img_url) {
//         var imgEle = document.createElement("img");
//         imgEle.src = img_url;
//         return imgEle.complete && (imgEle.width + imgEle.height) > 0;
//     }

    function imgDone() {
        var preloader = $("#preloader img");
        var viewer = $("#pageview img");
        
        // If the preloader is loading the main image, then move the img to
        // the main viewer, then setup viewport size for next page previewer
        if (preloader.attr("data-type") == "current") {
            viewer.attr("src", preloader.attr("src"));
            viewer.attr("onload", '$("#pageview #img-container")' + 
                                  '.width($("#pageview img").width())');
            viewer.removeClass("preview");
            preloader.attr("data-type", "preload");
        }

        // Set up preloading of the next page
        if (preloader.attr("data-next") != "") {
            var url = preloader.attr("data-next");
            preloader.attr("data-next", preloader.attr("data-next-next"));
            preloader.attr("data-next-next", "");
            preloader.attr("src", url);
        }
    }

    $(document).ready(function() {
        // More AngularJS glue
        var element = angular.element($("body"));
        var controller = element.controller();
        var scope = element.scope();
        scope.current_series = null;
        scope.current_volume = null;
        scope.current_chapter = null;
        scope.current_page = 0;

        // Initial data querying
        // Trigger hashchange in case people went here with direct hashes
        $.get("main.php")
        .done(function(response) { scope.$apply(function() {
            scope.series = response;

            // build the map from volume/chapter dir -> index
            // the whole purpose of this is readable and persistent URLs
            // ...#m=OMRK&v=vol02&c=ch20, instead of
            // ...#m=1&v=2&c=22
            for (let manga in scope.series) {
                scope.series[manga]["volmap"] = [];
                scope.series[manga].volumes.forEach(function (vol, i) {
                    scope.series[manga].volmap[vol.dir] = i;

                    vol["chapmap"] = [];
                    vol.chapters.forEach(function (chap, j) {
                        vol.chapmap[chap.dir] = j;
                    });
                });
            }

            // go to the hash people passed in URL, if any
            setTimeout(() => $(window).trigger('hashchange'), 0);
        })})
        .fail(function(response) { scope.$apply(function() {
            alert("Something went wonky with the reader! Refresh later.");
        })});

        // Handle arrow keys (prev/next img)
        $(document).keydown(function(e){
            var scope = angular.element($("body")).scope();

            // don't wanna handle any event with modifier keys
            if (e.shiftKey || e.ctrlKey || e.altKey || e.metaKey)
                return true;

            // left
            if (e.keyCode == 37) {
                if (scope.prev_page.chapter) {
                    location.hash = "#m=" + scope.current_series.dir +
                                    "&v=" + scope.prev_page.volume.dir +
                                    "&c=" + scope.prev_page.chapter.dir +
                                    "&p=" + scope.prev_page.page;
                } else {
                    location.hash = "#m=" + scope.current_series.dir;
                }
                return false;
            // right
            } else if (e.keyCode == 39) {
                if (scope.next_page.chapter) {
                    location.hash = "#m=" + scope.current_series.dir +
                                    "&v=" + scope.next_page.volume.dir +
                                    "&c=" + scope.next_page.chapter.dir +
                                    "&p=" + scope.next_page.page;
                } else {
                    location.hash = "#m=" + scope.current_series.dir;
                }
                return false;
            }

            // don't handle any other key
            return true;
        });

        // The main event listener, handles window hash changes
        $(window).on('hashchange', function() {
            state = $.deparam.fragment(true);

            // series
            scope.current_series = ("m" in state) ?
                scope.series[state.m] : null;
            // volume
            if ("m" in state && "v" in state) {
                scope.current_volume_i = scope.current_series.volmap[state.v];
                scope.current_volume = scope.current_series.volumes
                    [scope.current_volume_i];
            } else {
                scope.current_volume = null;
                scope.current_volume_i = null;
            }

            // chapter
            if ("m" in state && "v" in state && "c" in state) {
                scope.current_chapter_i = scope.current_volume.chapmap[state.c];
                scope.current_chapter = scope.current_volume.chapters
                    [scope.current_chapter_i];

                // page
                scope.current_page = ("p" in state) ? state.p : 0;
                scope.set_progress();

                // next/previous page/chapter
                scope.next_chapter = get_next_chapter(scope.current_series,
                                                      scope.current_volume,
                                                      scope.current_chapter);
                scope.prev_chapter = get_prev_chapter(scope.current_series,
                                                      scope.current_volume,
                                                      scope.current_chapter);
                scope.next_page = get_next_page(scope.current_series,
                                                scope.current_volume,
                                                scope.current_chapter,
                                                scope.current_page);
                scope.prev_page = get_prev_page(scope.current_series,
                                                scope.current_volume,
                                                scope.current_chapter,
                                                scope.current_page);

            } else {
                scope.current_chapter = null;
                scope.current_chapter_i = null;
            }

            scope.$apply();
            
            if ("m" in state && "v" in state && "c" in state) {
                // Prepare the preloader. Display the thumb img while loading
                // Putting here since it needs Angular to populate the DOM
                $("#preloader img").attr("data-type", "current");
                $("#pageview img").attr("onload", "");
                $("#pageview img").attr("src",
                                        scope.current_chapter.thumbs[scope.current_page]);
                $("#pageview img").addClass("preview");
                
                // Scroll to the top of the page, or the image, depending on
                // whether we're on the first page of the chapter or not.
                var state = $.deparam.fragment(true);
                if ("p" in state && state.p != "0" && state.p != 0)
                    $('html, body').animate(
                        {scrollTop: $('#scrollmark').offset().top}, 200);
                    else
                        $('html, body').animate(
                            {scrollTop: $('#chapter-view').offset().top}, 200);
            }
        });

        scope.$apply();
    });
    </script>
</head>
<body ng-controller="mainCtrl as c">

<!-- ====================== the landing page ======================= -->
<div id="all-series" ng-if="current_series == null">
    <div id="pagetitle">
        <span id="apptitle">Bakkin Reader X</span>
        <span id="appsubtitle">By Dory</span>
    </div>

    <div class="series" ng-repeat="manga in series">
        <a ng-href="#m={{manga.dir}}" class="cover">
            <img class="thumbsmall" ng-src="{{manga.thumb}}"/>
        </a>
        <a ng-href="#m={{manga.dir}}" class="field title">
            {{manga.name}}
        </a>
        <div class="field author" ng-if="manga.author">
            {{manga.author}}
        </div>

        <span class="field status">{{manga.status}}</span>
        <a ng-href="{{manga.buy_link}}" ng-if="manga.buy_link"
           class="field buy">
            {{manga.buy_from}}
        </a>
        <a ng-href="#m={{manga.dir}}&v={{manga.latest_vol}}&c={{manga.latest_chap}}"
           class="field latest">
            {{manga.latest_name}}
            <span class="field latest-time">({{manga.latest_time}})</span>
        </a>
        <a ng-if="get_progress(manga.dir)" ng-href="{{get_progress(manga.dir)}}"
           class="field progress">
            Continue where you left off
        </a>
        <a ng-if="!get_progress(manga.dir)"
           ng-href="#m={{manga.dir}}&v={{manga.volumes[0].dir}}&c={{manga.volumes[0].chapters[0].dir}}"
           class="field begin">
            Start reading
        </a>
    </div>
</div>

<!-- ====================== the series page ======================= -->
<div id="series-view" ng-if="current_series != null && current_chapter == null">
    <div id="series-info">
        <div class="cover"><img ng-src="{{current_series.thumb}}"/></div>
        <div class="field title">
            <a href="#" class="homelink">Home</a>
            <span class="homelink_after"> &gt;</span>
            {{current_series.name}}
        </div>
        <div class="field author">{{current_series.author}}</div>
    </div>

    <div id="vol-list">
        <div class="volume" ng-repeat="volume in current_series.volumes">
            <table style="border-collapse: collapse; width: 100%"><tbody>
            <tr>
            <td rowspan="2" style="vertical-align: top; width: 1px">
                <div class="volume-cover">
                    <img ng-src="{{volume.thumb ? volume.thumb : 'nocover.png'}}"/>
                </div>
            </td>
            <td style="vertical-align: top; height: 1px;" class="title">
                {{volume.name}}
            </td></tr><tr>
            <td style="vertical-align:top" class="chap-list">
                <div class="chapter" ng-repeat="chapter in volume.chapters">
                    <a ng-href="#m={{current_series.dir}}&v={{volume.dir}}&c={{chapter.dir}}">
                        {{chapter.name}}
                    </a>
                    <span class="tooltip">
                        <img ng-src="{{chapter.thumbs[0]}}"/>
                    </span>
                </div>
            </td>
            </tr>
            </tbody></table>
        </div>
    </div>
</div>

<!-- ====================== the chapter page ======================= -->
<div id="chapter-view" ng-if="current_chapter != null">
    <div id="chapter-info">
        <span id="homelink"><a ng-href="#">Home</a></span>
        <img id="series-thumb" ng-src="{{current_series.thumb}}"/>
        <span id="series-title"><a ng-href="#m={{current_series.dir}}">
            {{current_series.name}}</a>
        </span>
        <img id="chapter-thumb"
             ng-if="current_chapter.thumb != ''"
             ng-src="{{current_chapter.thumb}}"/>
        <span id="chapter-title">{{current_chapter.name}}</span>
        <span id="pagenum">pg. {{current_page}}</span>
    </div>

    <div id="navbar">
        <a class="navbtn" id="togglethumbbar"
           onclick="$('#thumbbar').slideToggle()">
           Thumbnails
        </a>
        <a class="navbtn" id="prev" ng-show="prev_chapter.chapter"
           ng-href="#m={{current_series.dir}}&v={{prev_chapter.volume.dir}}&c={{prev_chapter.chapter.dir}}">
            &lt;&lt; {{prev_chapter.chapter.name}}
        </a>
        <a class="navbtn" id="next" ng-show="next_chapter.chapter"
           ng-href="#m={{current_series.dir}}&v={{next_chapter.volume.dir}}&c={{next_chapter.chapter.dir}}">
            {{next_chapter.chapter.name}} &gt;&gt;
        </a>
    </div>

    <div id="scrollmark" style="height:1px"></div>

    <div id="thumbbar">
        <a class="thumbbox" ng-repeat="thumb in current_chapter.thumbs"
           data-id="{{$index}}" data-current="{{current_page==$index ? 'yes' : ''}}"
           ng-href="#m={{current_series.dir}}&v={{current_volume.dir}}&c={{current_chapter.dir}}&p={{$index}}">
           <img class="thumbview" ng-src="{{thumb}}"/>
        </a>
    </div>

    <!-- TODO: images for the prev/next links -->
    <div id="pageview">
        <div id="img-container">
            <img />
            <a id="left" ng-if="prev_page.chapter"
               ng-href="#m={{current_series.dir}}&v={{prev_page.volume.dir}}&c={{prev_page.chapter.dir}}&p={{prev_page.page}}">
            </a>
            <a id="left" ng-if="!prev_page.chapter"
               ng-href="#m={{current_series.dir}}">
            </a>

            <a id="right" ng-if="next_page.chapter"
               ng-href="#m={{current_series.dir}}&v={{next_page.volume.dir}}&c={{next_page.chapter.dir}}&p={{next_page.page}}">
            </a>
            <a id="right" ng-if="!next_page.chapter"
               ng-href="#m={{current_series.dir}}">
            </a>

        </div>
    </div>
</div>

<div id="preloader">
    <img ng-src="{{current_chapter.pages[current_page]}}"
         onload="imgDone()"
         data-type="current"
         data-next="{{next_page.chapter ? next_page.chapter.pages[next_page.page] : ''}}"
         data-next-next="{{next_page ? getNextNextImg() : ''}}"/>
</div>

<body>
</html>
