body {
    background-color: #222222;
    color: #CCCCCC;
    padding-bottom: 10px;
    /*font-family: sans-serif;*/
    font-family: Verdana, Geneva, sans-serif;
}

a, a:visited {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    background-color: #555555;
}

/* Below are mostly for the series page */
#pagetitle {
    margin-bottom: 10px;
}
#apptitle, #chaptitle {
    font-size: larger;
    font-weight: bold;
    margin: 0px 10px;
}
#appsubtitle, #chapchapter {
    font-size: smaller;
    font-weight: bolder;
    font-style: italic;
    margin: 0px 8px;
}
#pagenum {
    font-size: small;
    margin: 0px 10px;
}
#chapicon, #sericon {
    width: 21px;
    height: 21px;
    border: 1px solid gray;
    vertical-align: top;
    margin: 0px 8px;
}

#banner img {
    border: 2px solid #888888;
    margin: 5px;
    float: left;
    overflow: hidden;
}

.seri {
    margin: 10px 0px;
    border-left: 1px solid gray;
    width: 236px;
}

.serititle {
    font-weight: bold;
    padding: 1px 5px 1px 5px;
    cursor: pointer;
    background-color: #303030;
}
.serititle:hover {
    background-color: #555555;
}

.chaplink {
    padding: 2px 2px 1px 5px;
    overflow: hidden;
    font-size: 12px;
    display: block;
}
.chaplink table {
    border-spacing: 0px;
}
.chaplink img, .serititle img {
    border: 2px solid gray;
    width: 36px;
    height: 36px;
    display: block;
    box-sizing: border-box;
}
.chaplink span {
    padding: 3px 6px;
    display: inline-block;
}


/* Hide all the other banners when screen width is limited
   Plus other mobile-oriented optimizations */
.gridsizer { width: 236px; display: none; }
#banner img { display: inherit; }
@media handheld, (min-resolution: 2dppx), (max-width: 700px), (max-device-width: 700px) {
    #banner img { display: none; }
    #banner img[id=bakkin-img] { display: inherit; }

    .gridsizer { width: 100%; }
    body { margin: 3px; }
    #pageview img { margin: 0px; width: 100%; }
    .seri { float: none; width: 100%; margin: 2px 0px; }
    .serititle { border: 1px solid gray; font-size: larger; padding: 5px 5px; }
    .sericontent { display: none; }
    .chaplink span { font-size: medium; }
    #chapicon, #sericon { display: none; }
    #chaptitle, #chapnumber, #pagenumber { margin: 0px 3px; }
}

/* Below are mostly for the chapter page */

#thumbbar, #navbar {
    display: block;
    margin: 3px;
}

.thumbbox {
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 1px;
}
.thumbbox img {
    border: 2px solid gray;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    margin: auto;
}
.thumbbox[data-sel=yes]:after, .thumbbox:hover:after {
    background: #333;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    color: #fff;
    content: attr(data-id);
    padding: 3px 10px;
    position: relative;
    top: -33px;
    left: 10px;
    width: 30px;
    height: 20px;
    text-align: center;
    z-index: 98;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.navbtn, .navbtn:visited {
    border: 2px solid gray;
    display: inline-block;
    padding: 2px;
    font-size: small;
    text-decoration: none;
    color: inherit;
    margin: 1px;
    cursor: pointer;
}

#pageview {
    display: block;
    width: 100%;
}
#pageview img {
    margin: 5px auto;
    display: block;
    cursor: pointer;
    box-shadow: 0 0 15px #000000;
}

#preloader img {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 1px;
    bottom: 1px;
    float: left;
    opacity: 0.1;
}

/*
@keyframes bakkinflicker {
    to { visibility: hidden; }
}
@-webkit-keyframes bakkinflicker {
    to { visibility: hidden; }
}
#bakkin-img {
    animation: bakkinflicker 10s steps(100, start) 0s infinite;
    -webkit-animation: bakkinflicker 10s steps(100, start) 0s infinite;
}
*/
